.posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card_title {
  align-items: center;
  border-radius: 16px 16px 0 0;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--blue);
  padding: 24px;
}

.card_title h2 {
  word-break: break-all;
}

.card_actions {
  display: flex;
  gap: 24px;
  padding: 0px;
}

.card_actions svg {
  cursor: pointer;
  transition: 0.3s;
}

.card_actions svg:hover {
  fill: var(--dark-grey);
}

.user {
  border: 1px solid var(--light-grey);
  border-style: none solid none solid;
  color: var(--dark-grey);
  display: flex;
  font-size: 18px;
  font-weight: 400;
  justify-content: space-between;
  padding: 24px 24px 16px;
}

.user span:first-child {
  font-weight: 700;
}

.card p {
  border: 1px solid var(--light-grey);
  border-style: none solid solid solid;
  border-radius: 0 0 16px 16px;
  padding: 0 24px 24px;
  white-space: pre-wrap;
}

.pagination {
  margin: 0 auto;
}

.pagination button[data-active='true'] {
  background: var(--blue);
}

/* MEDIA QUERIES */
@media screen and (max-width: 864px) {
  .card_title {
    flex-direction: column;
    gap: 16px;
  }

  .user {
    flex-direction: column;
    gap: 4px;
  }
}
