.btn {
  background-color: transparent;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  color: var(--black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
  padding: 8px 0;
  width: 120px;
}

.btn:hover {
  background-color: var(--light-grey);
  color: var(--white);
}

.btn.submit {
  border: none;
  background-color: var(--blue);
  color: var(--white);
}

.btn.delete {
  border: none;
  background-color: var(--red);
  color: var(--white);
}

.btn.save {
  border: none;
  background-color: var(--green);
  color: var(--white);
}

.btn.submit:disabled {
  background-color: var(--light-grey);
  cursor: not-allowed;
}

.btn.submit:hover {
  color: var(--blue);
  border-color: var(--blue);
}

.btn.save:hover {
  color: var(--green);
  border-color: var(--green);
}

.btn.delete:hover {
  color: var(--red);
  border-color: var(--red);
}

.submit:hover,
.delete:hover,
.save:hover {
  background-color: transparent;
  border: 1px solid;
  padding: 7px 0;
}
