.header {
  background-color: var(--blue);
}

.header div {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 22px;
  font-weight: 700;
  padding: 27px 0;
  text-align: left;
}
